# Ignore Play! working directory #
logs
project/project
project/target
target
tmp
dist
.history
/out
/RUNNING_PID
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/.settings
/.cache
/.target
bin
/db
.eclipse
/lib/
/modules
test-result
server.pid
*.eml
.cache
.ensime
.ensime_cache/
