@(message: String)

@main("Welcome to Deep Dive") {



<div data-ng-controller="LoginCtrl" data-ng-switch="!!user.id" data-ng-cloak>
  <div data-ng-switch-when="false">
    <div class="alert alert-warning" data-ng-show="sessionExpired">
      <strong>Session Expired!</strong>
    </div>
    <div class="alert" data-ng-show="error">
      <pre>{{error | json}}<pre>
    </div>
    <form>
      <legend>Welcome to Deep Dive!</legend>
      <input type="text" placeholder="E-mail" data-ng-model="credentials.email" required />
      <input type="password" placeholder="Password" data-ng-model="credentials.password" required />
      <button data-ng-click="login(credentials)">Log In</button>
    </form>
  </div>
  <div data-ng-switch-when="true">
    <h1>Welcome, {{user.name}}</h1>
    <p>
      <a href="" data-ng-click="ping()">Execute Server Action</a>
      <div data-ng-show="ok">Ok!</div>
    </p>

    <p>
      <a href="/admin">Let's do some admin work</a>
    </p>

    <footer>
      <small>
        Logged in as {{user.email}}
        <a href="" data-ng-click="logout()">Log Out</a>
      </small>
    </footer>
  </div>
</div>

}
